# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Datasets
# =========================
data/
dataset/
datasets/
*.zip
*.tar
*.tar.gz

# =========================
# Trained Models
# =========================
*.pth
*.pt
*.ckpt

# =========================
# Generated Results
# =========================
runs/
logs/

# =========================
# Google Colab
# =========================
*.pyc

# =========================
# macOS
# =========================
.DS_Store

# =========================
# VS Code
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# Temporary Files
# =========================
*.tmp
*.temp
*.swp
